<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.blog.dao.BlogsDao">

    <select id="selectAllBlogsCover" resultType="com.yu.blog.vo.BlogCovers">
  <![CDATA[
        SELECT
            b.id   AS id,
            b.name AS name,
            b.abstracts AS abstracts,
            COALESCE(
                    img.image_url,
                    REGEXP_SUBSTR(
                            b.content,
                            'https://[^[:space:]"''<>()]+[.](png|jpg)',  -- 只要以 https:// 开头且以 .png/.jpg 结尾
                            1,                                           -- pos = 1（从头找）
                            1,                                           -- occurrence = 1（第一个匹配）
                            'i'                                          -- 不区分大小写：PNG/JPG 也匹配
                    )
            ) AS imageUrl
        FROM blogs b
                 LEFT JOIN main_image AS img ON b.id = img.blog_id
        ]]>
</select>

</mapper>